# Ambiente Virtual do Python
venv/

# Arquivos de segredos e credenciais
.env
*.json

# Arquivos temporários do Python e do sistema
__pycache__/
*.pyc
.DS_Store

# Pastas e arquivos de build (gerados por PyInstaller, etc.)
build/
dist/
*.spec